HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.pdf
uploads/d9776afe-4504-4f8f-9628-f7900904cb8c/28e9214e-4205-478c-8d2a-8d93e1947eec
uploads/d9776afe-4504-4f8f-9628-f7900904cb8c/3a2adee4-4829-4f40-9812-685a868b4608
uploads/d9776afe-4504-4f8f-9628-f7900904cb8c/8aa42954-ddd3-48d6-9d8f-6fb2fdca3142
