<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <title>Home page</title>
</head>
<body>
<h1>Ciao <span th:text="${user.name}"></span></h1>
<table>
    <thead>
    <tr>
        <th>Upload Time</th>
        <th>Weight</th>
        <th>BodyFat</th>
        <th>Height</th>
        <th>Chest</th>
        <th>Upper Arm</th>
        <th>Shoulders</th>
        <th>Waist</th>
    </tr>
    </thead>
    <tbody>
    <h2>Body details:</h2>
    <tr th:each="userBodyDetailsDTO : ${listUserBodyDetailsDTO}">
        <td th:text="${#temporals.format(userBodyDetailsDTO.uploadTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${userBodyDetailsDTO.weight}"></td>
        <td th:text="${userBodyDetailsDTO.bodyfat}"></td>
        <td th:text="${userBodyDetailsDTO.height}"></td>
        <td th:text="${userBodyDetailsDTO.chest}"></td>
        <td th:text="${userBodyDetailsDTO.upperArm}"></td>
        <td th:text="${userBodyDetailsDTO.shoulders}"></td>
        <td th:text="${userBodyDetailsDTO.waist}"></td>
    </tr>
    </tbody>
</table>
<hr>
<!-- Form body details-->
<h2>Add body details:</h2>
<form th:action="@{/bodyDetails}" method="post" th:object="${userBodyDetailsDTO}">
    <label for="weight">Weight:</label>
    <input type="number" id="weight" th:field="*{weight}"/> <br>

    <label for="bodyfat">BodyFat:</label>
    <input type="number" id="bodyfat" th:field="*{bodyfat}"/><br>

    <label for="height">Height:</label>
    <input type="number" id="height" th:field="*{height}"/><br>

    <label for="chest">Chest:</label>
    <input type="number" id="chest" th:field="*{chest}"/><br>

    <label for="upperArm">Upper Arm:</label>
    <input type="number" id="upperArm" th:field="*{upperArm}"/><br>

    <label for="shoulders">Shoulders:</label>
    <input type="number" id="shoulders" th:field="*{shoulders}"/><br>

    <label for="waist">Waist:</label>
    <input type="number" id="waist" th:field="*{waist}"/><br>

    <input type="submit" value="Send"/><br>
</form>
<hr>
<!-- form Privacy-->

<h2>privacy:</h2>
<p>Now privacy is <span th:text="${user.privacy}"></span></p>
<form th:action="@{/privacy}" method="get">
    <label>true:</label>
    <input type="radio" th:value="true" name="privacy"/> <br>

    <label>false:</label>
    <input type="radio" th:value="false" name="privacy"/><br>

    <input type="submit" value="Change"/><br>
</form>
<hr>
<!-- workout-->
<h2>My workout plan</h2>
<table>
    <thead>
    <tr>
        <th>Upload Time</th>
        <th>Download</th>
    </tr>
    </thead>
    <tbody>
    <div th:if="${#lists.isEmpty(workoutPlansDTO)}">
        <p>You haven't a workout</p>
    </div>
    <tr th:each="workoutPlan : ${workoutPlansDTO}">
        <td th:text="${#temporals.format(workoutPlan.uploadTime, 'yyyy-MM-dd')}"></td>
        <td><a th:href="'/download/' + ${workoutPlan.path}">Scarica</a></td>
    </tr>
    </tbody>
</table>
<hr>

<!-- Form feadback-->
<h2>Form feadback</h2>
<form th:action="@{/feedback}" method="post" th:object="${feedbackDTO}">
    <input type="text" name="text" placeholder="Write here your thoughts about your pt" th:field="*{text}"/> <br>
    <input type="submit" value="Send"/><br>
</form>
<hr>


</body>
</html>